//- {
//- "elClass": "",
//- "itemClass": "",
//- "subTitleClass":"",
//- "subTitle":"",
//- "titleTag": "h2",
//- "titleClass": " ft-s22-ttl com-al-c mg-b60",
//- "title": "コンセプト",
//- "catClass": "",
//- "cat": "",
//- "copyClass": " com-hv-target ft-s18-copy com-al-c mg-b60",
//- "copy": "コンセプト",
//- "figureClass": "",
//- "src": urlPath+"assets/images/home/home-concept-img.png",
//- "alt": "",
//- "btnClass": "",
//- "linkClass": "",
//- "link": "",
//- "linkcopy": "",
//- "iconWrapClass": "",
//- }
mixin content-group-1(data)
  p content group component : !{h1_copy_1} !!
  //- each item,index in data
  //-   li(class!=item.elClass + item.itemClass)
  //-     div(class!=item.elClass + '-wrap')
  //-       p(class!=item.elClass + '-subTitle' + item.subTitleClass) !{item.subTitle}
  //-       #{item.titleTag}(class!=item.elClass + '-title' + item.titleClass) !{item.title}
  //-       p(class!=item.elClass + '-cat' + item.catClass)
  //-         span !{item.cat}
  //-       p(class!=item.elClass + '-copy' + item.copyClass) !{item.copy}
  //-       div(class!=item.elClass + '-figWrap' + item.figWrapClass)
  //-         a(href!=item.link class!=item.elClass + '-link' + item.linkClass)
  //-           figure(class!=item.elClass + '-fig' + item.figureClass)
  //-             img(src!=item.src alt!=item.alt)
  //-           div(class!=item.elClass + '-btn' + item.btnClass)
  //-             p.home-course-item-btn-wrap
  //-               spna !{item.linkcopy}
  //-               span(class!=item.elClass + '-iconWrap' + item.iconWrapClass)